body {
    padding-top: 70px;
}
.bdcms {
    padding: 20px 15px;
    text-align: center;
}

.navbar-header {
    float: none;
    padding: 15px;
    text-align: center;
    width: 100%;
}
.navbar-brand {float:none;}

.navbar-inverse .navbar-brand {
    color: #ffffff;
}

.navbar-brand {
    font-size: 36px;
}

.btn {
     border-radius: 0px;
}

.btn-primary {
    background-color: #000;
    border-color: #000;
}